@model japantune.Models.User

@{
    ViewData["Title"] = "User Details";
}

<h1>User Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SurName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SurName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ClientLogin)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ClientLogin)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CardNum)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CardNum)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Role.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn">Edit</a>
    <a asp-action="Index" class="btn">Back to List</a>
</div>