@model japantune.Models.Car
@{
    ViewData["Title"] = "Edit Car";
}

<h1>Edit</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <input type="hidden" name="id" value="@Model.Id" />

            <div class="form-group">
                <label class="control-label">Mark</label>
                <input name="mark" class="form-control" value="@Model.Mark" required />
            </div>

            <div class="form-group">
                <label class="control-label">Model</label>
                <input name="model" class="form-control" value="@Model.Model" required />
            </div>

            <div class="form-group">
                <label class="control-label">Release Year</label>
                <input name="releaseDate" class="form-control"
                       type="number" min="1900" max="@(DateTime.Now.Year + 1)"
                       value="@Model.ReleaseDate" required />
            </div>

            <div class="form-group">
                <label class="control-label">License Plate</label>
                <input name="licensePlate" class="form-control" value="@Model.LicensePlate" />
            </div>

            <div class="form-group">
                <label class="control-label">Owner</label>
                <select name="userId" class="form-control" required>
                    @foreach (var user in ViewBag.Users as SelectList)
                    {
                        <option value="@user.Value" selected="@(user.Value == Model.UserId.ToString())">
                            @user.Text
                        </option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>